* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

p {
  font-size: 10px;
}

h2 {
  text-align: center;
  position: relative;
  top: 50px;
  padding: none;
  margin: none;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-fifth {
  flex-basis: 20%;
}

.image {
  object-fit: contain;
  max-width: 140px;
  height: 300px;
}

.inline {
  display: flex;
}

.t-pad {
  padding-left: 4px;
  margin-left: 4px;
  border-left: 1px solid black;
}

.bold {
  font-weight: bold;
}

.grey {
  color: lightgrey;
}
